<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Maria Ang Real Estate Agent', reverse: true %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render_breadcrumbs :separator => ' / ' %>
    <div class="container">
      <%= render "listings/search" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
